.pagination {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
}

.currentPage {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	padding: 16px;
}

.rowsPerPage {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.rowsPerPageButton {
	margin: 8px;
	background-color: white;
	padding: 4px 8px;
	color: #1976d2;
	border: 1px solid #1976d2;
	cursor: pointer;
	outline: none;
}

.rowsPerPageButton:disabled {
	background-color: #f7f7f7;
	border: none;
}
